.Card {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
  background-color: #e5e5e5;
  .Card__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
      margin: 0;
    }
    h5 {
      margin: 0;
      padding: 5px 10px;
    }
    .Card__controller {
      display: flex;
      gap: 5px;
      p {
        cursor: pointer;
      }
    }
  }
  .Card__content {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
